:root{
    /* Defining custom CSS variables (colors) for the theme */
    --color-dark: #070a13;
    --color-light: #f1f5f9;
    --color-slate400: #94a3b8;
    --color-slate600: #475569;
    --color-slate800: #1e293b;
    --color-rose: #e11d48;
    --color-indigo: #4f46e5; 
    --color-gold: #Ffd700;
    --color-dark-green: #006400;
}

#player-display{
    /* Styling the player score display */
    font-size: 2.5rem;
    color: var(--color-gold);
}

#computer-display{
    /* Styling the computer score display */
    font-size: 2.5rem;
    color: var(--color-gold);
}

#result-display{
    /* Styling the result display */
    font-size: 5rem;
}

.scoreDisplay{
    /* Styling for the score display */
    font-size: 1.5rem;
    color: var(--color-gold);
}

.green-Text, #playerScoreDisplay{
    /* Styling for player score display text (green) */
    color: var(--color-dark-green);
}

.red-Text, #computerScoreDisplay{
    /* Styling for computer score display text (red) */
    color: var(--color-rose);
}

.gold-Text{
    /* Styling for text with gold color */
    color: var(--color-gold);
}

*{
    /* Universal reset for margin and line-height */
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html{
    /* Smooth scrolling behavior for the entire page */
    scroll-behavior: smooth;
}

.options{
    /* Styling for options container */
    margin-right: 0;
}

body{
    /* General body styling with background color and font settings */
    font-family: 'Satoshi', sans-serif;
    background-color: var(--color-dark);
    color: var(--color-light);
    height: 100vh;
}

button{
    /* Styling for buttons to remove default styling */
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a{
    /* Styling for links (color change to rose) */
    color: var(--color-rose);
}

.custom-select select{
    /* Styling for custom select dropdown */
    appearance: none;
    width: 75%;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid var(--color-rose);
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
    background-color: var(--color-rose);
    color: var(--color-white);
    font-weight: 600;
}

strong{
    /* Strong text styling (white color) */
    color: #fff;
}

.hide-element{
    /* Class to hide an element */
    display: none;
}

.hide-element2{
    /* Another class to hide an element */
    display: none;
}

h1{
    /* Styling for headers (font size, text alignment, color) */
    display: flex;
    align-items: center;
    text-align: center;
    height: auto;
    width: auto;
    font-size: 36px;
    color: var(--color-rose);
}

p{
    /* Styling for paragraphs (font size, text alignment, color) */
    display: flex;
    align-items: center;
    text-align: center;
    height: auto;
    width: auto;
    font-size: 36px;
    color: var(--color-rose);
}

label{
    /* Label styling for better readability and alignment */
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-white);
}

img,
picture,
video,
canvas,
svg{
    /* Common styling for media elements */
    display: block;
    max-width: 300px;
    user-select: none;
    height: 250px;
    border: 1px solid var(--color-rose);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(225, 29, 72, 0.5), 0 3px 3px rgba(225, 29, 72, 0.5), 0 0 50px -20px var(--color-rose);
}

i{
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--color-rose);
    color: var(--color-light);
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5), 0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px var(--color-rose);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn{
    /* Button styling with background, padding, and shadow effects */
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--color-rose);
    color: var(--color-light);
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5), 0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px var(--color-rose);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover{
    /* Hover effect for buttons */
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25), 0 10px 10px rgba(225, 29, 72, 0.22), 0 0 120px -10px var(--color-rose);
}

.container{
    /* Flexbox container for central alignment of content */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.social-media-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 32px;
    gap: 10px;
    width: 100%;
}


.options-header {
    /* Styling for options header text */
    color: white;
    padding-top: 10px;
}

.container .btn{
    /* Adding margin to buttons inside the container */
    margin-top: 1.5rem;
}

.play-again-container{
    /* Styling for the play-again container */
    padding: 0;
}

/* XXXS (extra extra small) */
@media (min-width: 50px) {
    img{
        /* Adjust image size for very small screen widths */
        justify-content: center;
        text-align: center;
        align-items: center;
        max-width: 150px;
        height: 150px;
    }
    h1{
        font-size: 25px;
        justify-content: center;
    }
    p{
        justify-content: center;
    }
    #player-display{
        margin-top: 10px;
        font-size: 20px;
    }
    #computer-display{
        font-size: 20px;
    }
    #result-display{
        font-size: 20px;
    }
    .options{
        margin-right: 10px;
    }
    .container{
        padding-left: 0.375rem;
    }
    .play-again-container{
        padding: 0;
    }
    .hide-element{
        display: none;
    }
    .hide-element2{
        display: none;
    }
}

/* XXS (extra small) */
@media (min-width: 300px) {
    img{
        /* Adjust image size for small screen widths */
        justify-content: center;
        text-align: center;
        align-items: center;
        max-width: 100%;
        height: 200px;
    }
    h1{
        font-size: 25px;
        justify-content: center;
    }
    p{
        justify-content: center;
    }
    .container{
        text-align: center;
    }
}

/* XS (small screen size) */
/* @media (min-width: 475px) {}  */

/* S (standard screen size) */
@media (min-width: 640px) {
    img,
    picture,
    video,
    canvas,
    svg{
        /* Adjust height for medium screen size */
        height: 375px;
    }
    
    h1{
        /* Adjust font size for medium screen size */
        font-size: 60px;
    }
}

/* M (medium screen size) */
@media (min-width: 768px) {
    p{
        /* Adjust paragraph font size for larger screens */
        font-size: larger;
    }
}

/* L (large screen size) */
@media (min-width: 1024px) {
    img,
    picture,
    video,
    canvas,
    svg{
        /* Adjust height for large screen size */
        height: 500px;
    }
    .hide-element{
        display: none;
    }
    .hide-element2{
        display: none;
    }
}
